*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8ee4af;
    font-family: 'Roboto', sans-serif;
}

.logo{
    color: white;
    font-size: 24px;
    letter-spacing: 6px;
    margin: .5rem;


}

.navbar-links{
    display: flex;
    color: black;
    margin: 0;
    padding: 0;
}
.navbar-links li{
    list-style: none;
}

.navbar-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 1rem;
    display: block;

}

.navbar-links a:hover {
    background-color: #ADD8E6;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color:white;
    border-radius: 10px;

}

@media (max-width: 600px) {
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;

    }

    nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links.active {
        display: flex;
    }

}

body{
    background-color: #AAAAAA;
}


.id1{
    color: black;
    text-align: center;
    margin-top: 125px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #8ee4af;
    font-size: 40px;
    letter-spacing: 2px;
}

@media(max-width: 600px){
    .id1{
        font-size: 30px;
        margin-top: 62.5;
    }
}

#one{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: #8ee4af;
    font-weight: bold;
    letter-spacing: 2px;

}

@media(max-width: 600px){
    #one{
        font-size: 30px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        
    }

}

#two{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 210px;
    margin-left: 210px;
}

@media(max-width: 600px){
    #two{
        margin-right:0px;
        margin-left:0px;
    }
}


.headings{
    color: black;
    text-align: center;
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    color: #8ee4af;
    font-size: 40px;
    margin-bottom: 75px;
    letter-spacing: 2px;
}

#three{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 210px;
    margin-left: 210px;
}

@media(max-width: 600px){
    #three{
        margin-right:0px;
        margin-left:0px;
    }
}

#four{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 210px;
    margin-left: 210px;
}

@media(max-width: 600px){
    #four{
        margin-right: 0px;
        margin-left: 0px;
    }
}


#five{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 210px;
    margin-left: 210px;
}

@media(max-width: 600px){
    #five{
        margin-right: 0px;
        margin-left: 0px;
    }
}

.row{
    display: flex;
    margin-top: 75px;
}

.column{
    flex: 33.33%;
    padding: 5px;
}

.Projects{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media(max-width: 600px){
    .Projects{
        margin-left: 0px;
        margin-right: 0px;
        
        
        
    }
}